{% extends 'base.html' %}
{% block content %}

<div class="add-food">
    <div class="add-food-container">
        <h2>Add Your Food</h2>
        <div class="add-form">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Add">    
                <a href="{% url 'food_to_recipe:index' %}"><button type="button">back</button></a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}