{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="my-div-style">
        <h2>Search for recipes by food</h2>
        <div class="form-horizontal">
            <form method="POST" action="{% url 'food_to_recipe:search-recipe' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form%}
                <div class="mb-4 col-8">
                    <label for="{{ field.id_for_label }}", class="form-label">
                        {% comment %} <strong>{{field.label_tag}}</strong> {% endcomment %}
                    </label>
                    {{ field }}
                    {{ field.errors}}
                </div>
                {% endfor %}
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="mywapper">
        <div class="stock">
            {% if request.user.is_authenticated %}
            <h3>Stock</h3>
            <table>
                <tr>
                    <th>name</th>
                    <th>number</th>
                    <th>date</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
                {% for myfood in myfoods %}
                <tr>
                    <td>{{ myfood.food }}</td>
                    <td>{{ myfood.number }}</td>
                    <td>{{ myfood.createdDate }}</td>
                    <td><a href="{% url 'food_to_recipe:edit' myfood.pk %}"><span class="edit"><button type=button>edit</button></span></a></td> 
                    <td><a href="{% url 'food_to_recipe:delete' myfood.pk %}"><span class="edit"><button type=button>delete</button></span></a></td>
                </tr>
                {% endfor %}
            </table>
            <div class="add">
                <a href="{% url 'food_to_recipe:add-food' %}"><button type=button>add</button></a>
            </div>    
            {% endif %}
        </div>

        <div class="history">
            {% if request.user.is_authenticated %}
            <h3>Search History</h3>
            <table>
            {% for recipe in recipes %}
                <tr>
                    <td>{{ recipe.food }}</td>
                </tr>
            {% endfor %}
            </table>
            {% endif %}
        </div>

</div>
{% endblock content %}