{% extends 'base.html' %}
{% block content %}

<div class="login">
    <div class="login-container">
        <h2>Log in</h2>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="log in">
                <a href="{% url 'food_to_recipe:index' %}"><button type="button">back</button></a>
            </form>
        <div class="anonymous">
            <p>アカウントを持っていませんか？</p>
            <p><a href="{% url 'food_to_recipe:register' %}"><button type="button">sign up</button></a></p>
        </div>
    </div>
</div>

{% endblock content %}