<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food To Recipe</title>
</head>
<body>
    <h1>会員ページ</h1>
    <p><a href="{% url 'food_to_recipe:search-recipe' %}">食材からレシピを探す</a></p>
    <p><a href="{% url 'food_to_recipe:search-recipe' %}">自分の食材を管理する</a></p>
    <p><a href="{% url 'food_to_recipe:index' %}">ログアウト</a></p>
</body>
</html>