<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food To Recipe</title>
</head>
<body>
    <p>{{request.user}}</p>
    <h1>会員ページ</h1>
    <p><a href="{% url 'food_to_recipe:search-recipe' %}">食材からレシピを探す</a></p>
    <p><a href="{% url 'food_to_recipe:logout' %}">ログアウト</a></p>

    <h2>過去の検索履歴</h2>
    <ol>
        {% for recipe in recipes %}
            <li>{{ recipe }}</li>
        {% endfor %}
    </ol>

    <h2>現在の在庫</h2>
    <ul>
        {% for myfood in myfoods %}
            <li>{{ myfood.food }} - {{ myfood.number }}</li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'food_to_recipe:add-food' %}">追加</a></p>
    <p><a href="{% url 'food_to_recipe:logout' %}">編集</a></p>
</body>
</html>